@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

@font-face {
	font-family: 'Pixi';
	src: url('fonts/pixel.woff') format('woff');
}

:root {
	font-family: 'Pixi', monospace;
	line-height: 1.5;
	font-size: 15pt;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
}
